git:
  credentials: Gitlab-ID
  url: https://gitlab.mynisum.com/devops/web-app-maven.git
  branch: master
build:
  buildType: maven
  arguments: clean package
  testArguments: test
docker:
  dockerArguments:
    artifactId: spring-boot-web
    artifactVersion: 0.0.1-SNAPSHOT
    dockerImageName: web-app-maven
    dockerImageVersion: 0.0.3
clusterConfig:
  credentialsId: KUBECONFIG-ID
  namespace: dev-ns
helmConfig:
  releaseName: web-app-maven
  helmChartName: helmchart
