build:
  buildType: maven
  arguments: clean package
  testArguments: test
docker:
  dockerArguments:
    artifactId: spring-boot-web
#    artifactVersion: 0.0.1-SNAPSHOT
    dockerImageName: web-app-maven
#    dockerImageVersion: 0.0.3
clusterConfig:
  credentialsId: KUBECONFIG-ID
  namespace: dev-ns
helmConfig:
  releaseName: web-app-maven
  helmChartName: web-app-maven-chart
