<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../../static/css/guru.css"
          th:href="@{css/guru.css}" rel="stylesheet" media="screen"/>

</head>
<body>

<div class="container">
    <div th:fragment="header">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" th:href="@{/}">Home</a>
                    <ul class="nav navbar-nav">
                        <li><a href="#" th:href="@{/products}">Products</a></li>
                        <li><a href="#" th:href="@{/product/new}">Create Product</a></li>
                    </ul>

                </div>
            </div>
        </nav>

        <div class="jumbotron">
            <div class="row text-center">
                <div class="">
                    <h2>Nisum CI/CD Framework</h2>

                    <p>Nisum CI/CD Framework optimizes application delivery process without the overhead of configuration setup. It aids in seamless onboard of new applications with a few liner code addition to setup entire CI/CD flow. </p>
                </div>
            </div>

              <div class="view view-services view-id-services view-display-id-block_2 areas-of-impact row view-dom-id-26893b1576cdc6c73e62de07e0ef625c">
                        <div class="view-header">
                  <h2 class="text-center">Areas of Impact</h2>    </div>


                  <div class="view-content container">

              <h3>CICD Implementation</h3>

            <div id="views-bootstrap-grid-1" class="views-bootstrap-grid-plugin-style">
                      <div class="row">
                              <div class=" col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                  <div class="col-areas">
                          <figure><img src="../../static/images/thumbnail-Configuration-Management.jpg" class="rounded-circle" width="130" th:src="@{/images/thumbnail-Configuration-Management.jpg}"></figure>
                          <h3>Configuration Management</h3>
                          <div class="col-areas-text">We define a strategy that automates configuration management with industry best tools and approaches.</div>
                        </div>
                        <!--end col-areas-->
                                  </div>
                                                  <div class=" col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                  <div class="col-areas">
                          <figure><img src="../../static/images/thumbnail-Pipeline-as-Code.jpg" class="rounded-circle" width="130" th:src="@{/images/thumbnail-Pipeline-as-Code.jpg}"></figure>
                          <h3>Pipeline as Code</h3>
                          <div class="col-areas-text">We set up the CICD pipeline to automate the application delivery lifecycle and sets up check-ins to source control. This enables customers to shop with confidence, increasing frequency.</div>
                        </div>
                        <!--end col-areas-->
                                  </div>
                                                  <div class=" col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                  <div class="col-areas">
                          <figure><img src="../../static/images/thumbnail-Automated-Deployments.jpg" class="rounded-circle" width="130" th:src="@{/images/thumbnail-Automated-Deployments.jpg}"></figure>
                          <h3>Automated Deployments</h3>
                          <div class="col-areas-text">We work with clients to define the best deployment strategy. by implementing blue-green and/or A/B Testing, rolling updates, or Canary-based deployment.</div>
                        </div>
                        <!--end col-areas-->
                                  </div>
                                              </div>
              </div>
              <h3>Cloud Services</h3>
            <div id="views-bootstrap-grid-2" class="views-bootstrap-grid-plugin-style">
                      <div class="row">
                              <div class=" col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                  <div class="col-areas">
                          <figure><img src="../../static/images/thumbnail-Migration-Adoption.jpg" class="rounded-circle" width="130" th:src="@{/images/thumbnail-Migration-Adoption.jpg}"></figure>
                          <h3>Migration &amp; Adoption</h3>
                          <div class="col-areas-text">As part of the Cloud adoption drive, Nisum helps clients perform assessments of applications to determine Cloud readiness, and then partner with clients in modernizing applications and defining a migration strategy to run on a Cloud platform.</div>
                        </div>
                        <!--end col-areas-->
                                  </div>
                                                  <div class=" col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                  <div class="col-areas">
                          <figure><img src="../../static/images/thumbnail-Architecture-Design.jpg" class="rounded-circle" width="130" th:src="@{/images/thumbnail-Architecture-Design.jpg}"></figure>
                          <h3>Architecture &amp; Design</h3>
                          <div class="col-areas-text">We specialize in designing Cloud-ready applications, building in security, scalability, and performance as part of the solution.</div>
                        </div>
                        <!--end col-areas-->
                                  </div>
                                                  <div class=" col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                  <div class="col-areas">
                          <figure><img src="../../static/images/thumbnail-Optimization.jpg" class="rounded-circle" width="130" th:src="@{/images/thumbnail-Optimization.jpg}"></figure>

                          <h3>Optimization</h3>
                          <div class="col-areas-text">Cloud costs can be astronomical if not strategically optimized at the outset. We help clients right-size investments for the automated provisioning and de-provisioning of resources.</div>
                        </div>
                        <!--end col-areas-->
                                  </div>
                                            </div>
              </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
